<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Only for explicit, user-confirmed self-updates from GitHub releases. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <provider android:name="com.neighbouraid.updater.UpdateFileProvider"
            android:authorities="${applicationId}.neighbouraid.updates"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/neighbouraid_update_paths" />
        </provider>
    </application>
</manifest>
